.landing-header {
  background-color: #222;
  padding: 15px;
  height: 60px;
  color: rgb(0, 0, 0);
}

.landing-title {
  font-size: 2.5em;
  color: white;
  margin-top: -10px;
}

p {
  font-size: 1.5em;
  color: black;
  text-align: center;
}
