.landing {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing h1 {
  font-weight: 400;
  text-align: start;
  padding: 0 2%;
  color: black;
  margin-top: 10px;
}

.landing-desc {
  text-align: start;
  margin-top: 40px;
  color: white;
  padding: 5%;
  background-color: rgba(19, 96, 102, 0.76);
  border-radius: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.left {
  margin-top: 10px;
  margin-left: 80px;
  float: left;
  width: 45%;
  clear: right;
}

.right {
  margin-right: 25px;
  float: right;
  width: 45%;
}

button:hover {
  background: black;
  color: rgb(255, 234, 42);
  cursor: pointer;
  }


/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .landing-desc {
    width: 298px;
    margin-left: 10px;
  }

}


