
h2 {
  margin: -5px 50px 0;
	color:  #eee;
	font-size: 30px;
  font-weight: 400;
}

/* .landing-page {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=78082d217e11e7ac46288b6a2624a5ba&auto=format&fit=crop&w=2253&q=80');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
} */

.landing {
  margin: 130px auto;
  width: 50%;
  padding: 2%;
  border-radius: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.landing > h2 {
  color: rgb(46, 148, 155);
  font-size: 225%;
  width: 600px;
  margin: 40px 0;
}

.landing > p.desc {
  color: #ccc;
  font-size: 175%;
}

p.desc {
  text-align: start;
  color: rgb(46, 148, 155);
  margin: 0 auto;
  width: 600px;
  font-size: 30px;
}

.left {
  margin-top: 10px;
  margin-left: 80px;
  float: left;
  width: 45%;
  clear: right;
}

.right {
  margin-right: 25px;
  float: right;
  width: 45%;
}

.landing > button {
  position: absolute;
  top: 0;
  right: 20px;
  width: 80px!important;
}

button:hover {
  background: #111;
	color: rgb(46, 148, 155);
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {

  .landing {
    margin: 30px auto;
    width: 90%;
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1.welcome {
    margin: 0 10px 0 -10px;
  }

  /* p.desc {
    margin: 0 10px;
    width: 240px;
  } */

  .landing, .landing > h2, .landing > p.desc {
    margin: 30px 0 20px 0;
    width: 300px;
    text-align: start;
    font-size: 25px;
  }

}

  /* Medium and large devices (phones, 600px and up) */
  @media only screen and (min-width: 600px) {

    /* h1.welcome {
      margin: -68px 15px 0 -10px;
      width: 95%;
    } */
/*   
    p.desc{
      margin: 0 2px;
      width: 240px;
    } */
  }
  