.landing {
  /* padding: 15px; */
  margin-top: 5px;
  height: 60px;
  color: rgb(0, 0, 0);
  margin-bottom: 50px;
}

h1 {
  font-weight: 400;
  text-align: center;
  padding: 0 25%;
}

.landing-desc-left {
  color: black;
  text-align: justify;
  margin-left: 25px;
  float: left;
  width: 45%;
  clear: right;
}

.landing-desc-right {
  color: black;
  text-align: justify;
  margin-right: 25px;
  float: right;
  width: 45%;
}

