button.search-button {
  width: 320px;
	height: 45px;
	padding: 10px;
	background: rgb(19, 96, 102);
	color: white;
	font-size: 18px;
	margin: 20px 0;
	border-radius: 3px;
}

button.add-button {
  width: 320px;
  height: 45px;
  padding: 10px;
  background: rgb(19, 96, 102);
  color: white;
  font-size: 18px;
  border-radius: 3px;
}

button.add-button:hover {
  background: black;
  color: rgb(255, 234, 42);
  cursor: pointer;
  }