button.search-button {
	width: 320px;
	height: 45px;
	padding: 10px;
	background: #111;
	color: rgb(46, 148, 155)!important;
	font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
	margin: 20px 0;
	border-color:  rgb(46, 148, 155);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

button.add-button {
  margin: 1px;
	width: 292px;
	height: 45px;
	padding: 10px;
	background: #111;
	color: rgb(46, 148, 155)!important;
	border: none;
	font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
}

button.add-button:hover, button.search-button:hover {
  color: #eee!important;
	background-color: rgb(46, 148, 155);
	border-color: #eee;
  cursor: pointer;
  }

.search-form {
  margin: 100px 100px 0 100px;
	text-align: center;
}

input[type="search"] {
	max-width: 320px;
	width: 100%;
	height: 40px;
  margin: 30px auto 0 auto;
}

.album-search-list {
  display: grid;
  grid-gap: 40px;
}

.search-list-item button {
	width: 20%;
	float: right;
}

.search-list-item {
	display: inline-block;
	margin: 0 auto;
}

.artist, .title, .genre, .year {
	line-height: 175%;
}
.artist {
	font-weight: bolder;
	font-size:105%;
  word-wrap: break-word;
}

.genre {
	word-wrap: break-word;
}

.search-item-text {
	display: block;
	width: 40%;
	margin-left: 160px;
	padding-top: 5px;
  font-family: 'Maven Pro', sans-serif;
}

.album-search-results {
	height: fit-content;
	padding: 0;
	border: solid #ccc;
	margin: 25px auto;
	text-align: start;
	border-radius: 3px;
	position: relative;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	background-color: azure;
}


/* Extra small devices (phones, 465 and down) */
@media only screen and (max-width: 465px) {

	button.search-button {
    margin: 20px 0 20px 0;
    width: 300px;
	}

	input[type="search"] {
		width: 300px;
	}
}


/* Extra small devices (phones, 465 and up) */
@media only screen and (min-width: 465px) {

	.album-search-list {
		grid-template-columns: 100%;
	}

	button.search-button {
    margin: 20px 0 20px 0;
    width: 300px;
	}
	
	input[type="search"] {
		width: 300px;
	}
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.album-search-list {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 20px;
		margin-left: 0;
	}

	.search-list-item {
		width: 280px;
	}

	input[type="search"] {
		width: 300px;
	}

}

@media only screen and (max-width: 700px) {
	.search-form {
		margin-left: 70px;
	}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.album-search-list {
		grid-template-columns: repeat(2, 1fr);
  }
} 

/* Medium devices (landscape tablets, 860px and up) */
@media only screen and (min-width: 770px) {
	.album-search-list {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
	}

}

/* Large devices (landscape tablets, 1024 and up) */
@media only screen and (min-width: 1024px) { 
	.album-search-list { 
		grid-template-columns: repeat(3, 1fr);
  }
  
  .search-form {
    margin-bottom: 0;
    margin-left: auto;
		margin-right: auto;
		margin-top: 120px;
	}

}



/* X-Large devices (landscape tablets, 1350px and up) */
@media only screen and (min-width: 1350px) { 
	.album-search-list { 
		grid-template-columns: repeat(4, 1fr);
	}

} 

