.search-form {
	margin: 0 10%;
	text-align: center;
	background: white;
	/* padding: 20px 40px; */
}

input[type="search"] {
  width: 320px;
	height: 30px;
	margin: 0 auto;
}

ul {
	padding: 0;
	max-width: 600px;
}

li {
	list-style-type: none;
	max-width: 320px;
}

img {
	float: left;
}

button.add-button {
	margin: 0;
}

.album-search-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.search-list-item button {
	width: 20%;
	float: right;
}

.search-list-item {
	display: inline-block;
	margin: 20px;
}

.title, .genre, .year {
	line-height: 175%;
}
.title {
	font-weight: 600;
	font-size:105%;
}

.search-item-text {
	display: block;
	width: 40%;
	margin-left: 175px;
	padding-top: 5px;
}

.album-search-results {
	padding: 0;
	border: solid rgb(123, 123, 123) 1px;
	margin: 25px;
	text-align: start;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}