header {
  background-color: #111;
  padding: 15px;
  height: fit-content;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0;
  right: 0;
	text-align: center;
	width: 100%
}

h1 {
	font-size: 3.5em;
	color: rgb(46, 148, 155);
  margin: -10px 10px 10px 10px;
  text-align: start;
	padding: 0;
	font-family: 'Righteous', cursive;
}

h1.welcome {
  font-weight: 400;
  width: 280px;
  height: fit-content;
  font-size: 30px;
  text-align: center;
  color: rgb(46, 148, 155);
  padding: 0 1%;
  word-wrap: break-word;
}

/* nav {
	margin-top: -174px;
	margin-right: 40px;
} */

button.logout-button {
	float: right;
	height: 45px;
	padding: 10px;
	background: transparent;
	color: rgb(46, 148, 155);
	font-size: 18px;
	margin: 20px 0;
	border: solid 1px rgb(46, 148, 155);
	font-family: 'Maven Pro', sans-serif;
	border-radius: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

button:hover {
	background-color: rgb(46, 148, 155);
	color: #eee;
	border-color: #eee;
	cursor: pointer;
}


/* Nav break */
@media only screen and (max-width: 690px) {

	button.logout-button {
		border: none;
	}

}


/* Xtra small devices (landscape tablets, 354 and down) */
@media only screen and (max-width: 354px) {
	header {
		width: 105%;
	}

	button.logout-button {
		width: 25%;
		font-size: 98%;
	}

}


/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
	}

	h1 {
		margin-left: 0;
	}

	button.logout-button {
		margin-right: -8px;
	}

}


/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {

	h1 {
		margin-left: 20px;
	}

} */

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

	h1 {
		margin-left: 5px;
	}

	h2 {
		margin: 10px 0;
	}
}


/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
	header {
		width: 100%;
	} 

} 
