header {
  background-color: #111;
  padding: 15px 0;
  height: fit-content;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  right: 0;
	width: 100%;
	z-index: 1;
	border-bottom: solid #eee 1px;
}

h1 {
	font-size: 3.5em;
	color: rgb(46, 148, 155);
  margin: -10px 10px 10px 10px;
  text-align: start;
	padding: 0;
	font-family: 'Righteous', cursive;
}

h1.welcome {
  font-weight: 400;
  width: 280px;
  height: fit-content;
  font-size: 30px;
  text-align: center;
  color: rgb(46, 148, 155);
  padding: 0 1%;
  word-wrap: break-word;
}

button.logout-button {
	float: right;
	/* height: 45px; */
	padding: 10px;
	background: transparent;
	color: rgb(46, 148, 155);
	font-size: 20px;
	margin: -10px 0 10px 10px;
	border: none;
	font-family: 'Maven Pro', sans-serif;
}

button:hover {
	background-color: rgb(46, 148, 155);
	color: #eee;
	border-color: #eee;
	cursor: pointer;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
	}

	h1 {
		margin-left: 0;
	}

}

/* Medium devices (landscape tablets, 690px and down) */
@media only screen and (max-width: 689px) {

	h1 {
		margin-left: 5px;
	}

	h2 {
		margin: 20px;
	}

	button.logout-button {
		padding: 0;
		margin: 12px 0 0 32px;
		font-size: 25px;
	}
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
	header {
		width: 100%;
	} 

} 
