header {
  background-color: #111;
  padding: 15px;
  height: fit-content;
  color: rgb(0, 0, 0);
  position: relative;
  top: 0;
  right: 0;
	text-align: center;
	width: 100%
}

h1 {
  font-size: 2.5em;
  color: white;
  margin: 10px auto;
  text-align: center;
	padding: 0;
}

h1.welcome {
  font-weight: 400;
  width: 280px;
  height: fit-content;
  font-size: 30px;
  text-align: center;
  color: rgb(46, 148, 155);
  padding: 0 1%;
  word-wrap: break-word;
}

h2 {
	/* margin: 30px 0 0 150px; */
	color: rgb(255, 234, 42);
	font-size: 30px;
	font-weight: 400;
}


nav {
	margin-top: -130px;
	margin-right: 40px;
}

button.logout-button,
button.view-collection-button, button.view-wishlist-button {
	float: right;
	height: 45px;
	padding: 10px;
	background: transparent;
	color: white;
	font-size: 18px;
	margin: 20px 0;
	border: none;
}

button:hover {
	background: #111;
	color: rgb(46, 148, 155);
	cursor: pointer;
}

/* Xtra small devices (landscape tablets, 354 and down) */
@media only screen and (max-width: 354px) {
	header {
		width: 105%;
	}

	button.logout-button {
		width: 31%;
		font-size: 98%;
	}

}


/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	header {
		width: 100%;
	}

	h1 {
		margin-left: 0;
	}

	button.logout-button {
		margin-right: -8px;
	}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	h1 {
		margin-left: 20px;
	}

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

	h1 {
		margin-left: 20px;
	}

	h2 {
		margin: 10px 0;
	}
}


/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
	header {
		width: 100%;
	} 

} 
