.register-form {
	margin: 0 auto;
	text-align: center;
	width: 280px;
	padding: 20px 0;
	border-radius: 3px;
	color: #ccc;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
	font-size: 35px;
	color: #666;
	font-weight: 300;
	margin-bottom: 30px;
}

form label, form input {
	display: block;
}

label {
	text-align: start;
	margin: 10px 0;
	font-size: 15px;
	font-weight: 500;
}

input {
	height: 5px;
	width: 280px;
	padding: 15px;
	border: 2px solid #ccc;
	border-radius: 3px;
	font-size: 15px;
}

button.signup-button {
	width: 280px;
	height: 45px;
	padding: 10px;
	background: rgb(19, 96, 102);
	color: white;
	font-size: 18px;
	margin: 20px auto 0 0;
	border-radius: 3px;
}

button:hover {
  background: #111;
	color: rgb(46, 148, 155);
  cursor: pointer;
  }

.login, .login a {
	color: #ccc;
	text-align: center;
	font-size: 15px;
}

.login-note {
	margin: 30px auto;
	text-align: center;
	color: rgb(19, 96, 102)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.register-form {
		margin-left: auto;
		width: 280px;
	}
}
