h1 {
	margin-top: 90px;
}

ul {
	padding: 0;
	max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

li {
	list-style-type: none;
	width: 320px;
}

img {
	float: left;
}

button.add-button {
	margin: 0;
	position: relative;
}

button.logout-button, button.view-collection-button {
	float: right;
	margin-right: 0px;
	width: 175px;
}

button.view-collection-button, button.search-button {
	height: 45px;
	padding: 10px;
	background: rgb(19, 96, 102);
	color: white;
	font-size: 18px;
	margin: 20px 0;
	border-radius: 3px;
}

button:hover {
  background: black;
  color: rgb(255, 234, 42);
  cursor: pointer;
  }

/* Xtra small devices (landscape tablets, 354 and down) */
@media only screen and (max-width: 354px) {

	button.logout-button, button.view-collection-button {
		width: 31%;
		font-size: 98%;
		margin-right: 3px;
	}

}

/* Extra small devices (phones, 465 and down) */
@media only screen and (min-width: 465) {

	.album-search-list {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 20px;
	}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.album-search-list {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 20px;
		margin-left: -60px;
	}

	.album-search-item {
		width: 289px;
	}

	button.logout-button {
		width: 30%;
		padding: 2% 0;
		margin-right: 0;
	}

	button.view-collection-button {
		width: 40%;
	  padding: 2% 0;
	}

	input[type="search"] {
		max-width: 110%;
		width: 110%;
		height: 40px;
		margin-left: -20px;
	} 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

	.album-search-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

} 

/* Medium Large devices (landscape tablets, 860px and up) */
@media only screen and (min-width: 860px) {

	.album-search-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

} 

/* Large devices (landscape tablets, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.album-search-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

} 


/** From dashboard ++++++++++++++++++++++++++++++++++++*/
.dashboard{
  text-align: center;
}

.dashboard > h1 {
  color: rgb(19, 96, 102);
  margin: 30px 0;
  margin-bottom: 40px;
  text-align: center;
}

p {
  margin: 0 10% 40px 28%;
  width: 50%;
  font-size: 1.5em;
  color: rgb(19, 96, 102);
  text-align: start;
}
