form label, form input {
	display: block;
}

label {
	text-align: start;
	margin: 10px 0;
	font-size: 15px;
	font-weight: 500;
}

input {
	height: 5px;
	width: 286px;
	padding: 15px;
	border: 2px solid #ccc;
	border-radius: 3px;
	font-size: 15px;
}

form > h3 {
	margin: 0 20px 0 0;
}

button:hover {
  background: black;
  color: rgb(255, 234, 42);
  cursor: pointer;
  }

.login-form {
	margin: 0 auto;
	text-align: center;
	background: white;
	width: 320px;
	padding: 20px 0;
	border-radius: 3px;
}

.login-form > button {
    width: 289px;
    height: 45px;
    padding: 10px;
    background: rgb(19, 96, 102);
    color: white;
    font-size: 18px;
    margin: 20px 37px 0 0;
    border-radius: 3px;
}

.login, .login a {
	color: white;
	text-align: center;
	font-size: 15px;
}

.signup-note {
	margin: 0 30px 0 0;
	text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

	.login-form {
		margin-left: 50px;
	}

	.signup-note {
		margin: 0 175px 0 0;
	}

}


/* Extra small devices (phones, 300px and up) */
@media only screen and (min-width: 350px) and (max-width: 600px) {

	.signup-note {
		margin: 0 50px 0 0;
	}

	.login-form {
		width: 275px;
		margin-left: 50px;
	}

	.login-form > button {
		width: 285px;
		margin-right: 20px;
	}
	
}


/* Extra small devices (phones, 300px and up) */
@media only screen and (min-width: 300px) and (max-width: 350px) {

	.signup-note {
		margin: 0 60px 0 0;
	}

	.login-form {
		width: 275px;
		margin-left: 10px;
	}

	.login-form > button {
		width: 285px;
		margin-right: 20px;
	}
	
}

