p.test-user {
	font-size: 18px;
	margin: 10px auto;
	width: 200px;
	text-align: center;
}

form label, form input {
	display: block;
}

label {
	text-align: start;
	margin: 10px 0;
	font-size: 15px;
	font-weight: 500;
}

input {
	height: 5px;
	width: 280px;
	padding: 15px;
	border: 2px solid #ccc;
	border-radius: 3px;
	font-size: 15px;
}

form > h3 {
	margin: 0 auto;
}

.login-form {
	margin: 100px auto 0 auto;
	text-align: center;
	color: #ccc;
	width: 280px;
	padding: 20px 0;
}

.login-form > button,
.landing > button,
button.signup-button {
		width: 280px;
		height: 45px;
		padding: 10px;
		background-color: transparent;
		color: rgb(46, 148, 155);
		font-size: 18px;
		margin: 20px auto 0 0;
		border-color: rgb(46, 148, 155);
		font-family: 'Maven Pro', sans-serif;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		z-index: 2;
}

.landing > button {
	border: none;
}

.login-form > button:hover,
.landing > button:hover,
button.signup-button:hover {
	background-color: rgb(46, 148, 155);
	color: #eee;
	cursor: pointer;
}

.landing > button:hover {
	background-color: transparent;
}


.login, .login a {
	color: #ccc;
	text-align: center;
	font-size: 15px;
}

.signup-note {
	margin: -20px 0 auto;
	text-align: center;
	color: rgb(19, 96, 102);
}

.test-user-title {
	color: #ccc;
}

.test-user-credential {
	color: rgb(255, 234, 42);
}
