
ul {
	padding: 0;
	max-width: 600px;
}

li {
	list-style-type: none;
	width: 320px;
}

img {
	float: left;
}

button.add-to-folder-button,
button.add-tags-button,
button.remove-button { 
	margin: 0;
	width: 320px;
	height: 45px;
	padding: 10px;
	background: rgb(19, 96, 102);
	color: white;
	font-size: 18px;
	border-radius: 3px;
}

button.new-search-button {
	width: 175px;
	margin-top: -84px;
	margin-right: 290px;
	float: right;
	height: 45px;
	padding: 10px;
	background: rgb(19, 96, 102);
	color: white;
	font-size: 18px;
	border-radius: 3px;
}

button:hover {
  background: black;
  color: rgb(255, 234, 42);
  cursor: pointer;
  }


.collection-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.collection-list-item button {
	width: 20%;
	float: right;
}

.collection-list-item {
	display: inline-block;
	margin: 20px;
}

.title, .genre, .year {
	line-height: 175%;
}
.title {
	font-weight: 600;
	font-size:105%;
}

.collection-item-text {
	display: block;
	width: 40%;
	margin-left: 175px;
	padding-top: 5px;
}

.collection-result {
	padding: 0;
	border: solid rgb(123, 123, 123) 1px;
	margin: 25px;
	text-align: start;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.collection-list {
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 20px;
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.collection-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1200px) {
	.collection-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

} 